# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# sst
.sst
.build
sst-env.d.ts

# opennext
.open-next

# misc
/.idea/inspectionProfiles/Project_Default.xml
/.next/
.DS_Store
*.pem